$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*
e95d35
ffc55c
ff0000
a88a67
4f2b00

*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: 'Fjalla One', sans-serif;
  background-color:white;
}

.index-header {
  background-color: white;
  background-image: url(header.png);
  height: 145px;
  background-repeat: no-repeat;
  width: 100%;
  background-size: contain;
  background-position-x: center;
}

.index-all {
  width:100%;
  background-color:#ffffc3;
}

.modal-body {
  font-family: 'Raleway', sans-serif;
  height: 500px;
  overflow: auto;
}

.modal-title {
  color: #e95d35;
  font-size:1.7em;
}

.index-view {
  width:800px;
  margin-left:auto;
  margin-right:auto;
  background-color:#ffc55c;

  button.btn.btn-default {
    background-color: #ffffc3;
    color: black;
    &.active {
      background-color:#e95d35;
      color:white
    }
  }

}

.index-footer {
  height: 289px;
  background-color:#e95d35;
  width:800px;
  margin-left:auto;
  margin-right:auto;
}

.box1 {
  background-color: #ffffc3;
  &:hover {
    background-color: #ECEC92;
  }
  margin: 10px;
  padding: 9px;
  height: 131px;
  cursor:pointer;
  text-align: center;
  h3 {
    color:#e95d35;
    margin-top:5px;
    font-size:20px;
    height: 43px;
  }
  p {
    font-size:12px;
  }
}

.box2 {
  float:left;
  height:100px;
  width:20%;
  padding-left: 10px;
  padding-right: 10px;
  .box2int {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 132px;
    background-size: contain;
    background-repeat: no-repeat;

  }
}

.bottom {
  background-color:white;
}

.bottom-internal {
  width:800px;
  margin-left:auto;
  margin-right:auto;

}

.logo-bottom {
  height: 50px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo-bottom1 {background-image:url(patr_acaoed.png)}
.logo-bottom2 {background-image:url(patr_greppe.png)}
.logo-bottom3 {background-image:url(patr_open.png)}

.bi1 {
  background-image:url(sist_abril.png)
}
.bi2 {
  background-image:url(sist_positivo.png)
}
.bi3 {
  background-image:url(sist_pearson.png)
}
.bi4 {
  background-image:url(sist_objetivo.png)
}
.bi5 {
  background-image:url(sist_uno.png)
}

.index-content {
  background-image:url(bg.png);
  background-size: 520px 843px;
}

.internal {
  margin-left: 22px;
  padding:5px;

}

.general-header {
  margin-bottom:5px;
}

.general-header-search-text {
  font-size:26px;
  color: #e95d35;
}
.general-header-search {
  padding:0;
}
.general-header-city p {
  margin: 0px;
  background-color: black;
  height: 34px;
  color: white;
  text-align: center;
  padding-top: 5px;
  font-size: 17px;
}
#ex1_value {
  background-color: #ffffc3;
}

.lat-esq table {
  background-color:black;
  color:#ffc55c;
}

#tabledata {
  font-size:11px !important;
}

.table {
  margin-bottom:5px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }


}

.cod_munic {
  display:none;
}