$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

/*
e95d35
ffc55c
ff0000
a88a67
4f2b00

*/

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  font-family: 'Fjalla One', sans-serif;
  background-color:white;
}

.index-header {
background-color: white;
background-image: url(/images/header.png);
height: 148px;
background-repeat: no-repeat;
width: 800px;
margin-left: auto;
margin-right: auto;
background-size: contain;
}

.index-all {
  width:100%;
  background-color:#ffffc3;
}

.index-view {
  width:800px;
  margin-left:auto;
  margin-right:auto;
  background-color:#ffc55c;

}

.internal {
  margin: 6px;
  margin-left: 22px;

}

.general-header {
  margin-bottom:5px;
}

.general-header-search-text {
  font-size:26px;
  color: #e95d35;
}
.general-header-search {
  padding:0;
}
.general-header-city p {
  margin: 0px;
  background-color: black;
  height: 34px;
  color: white;
  text-align: center;
  padding-top: 5px;
  font-size: 17px;
}
#ex1_value {
  background-color: #ffffc3;
}

.lat-esq table {
  background-color:black;
  color:#ffc55c;
}

#tabledata {
  font-size:12.5px !important;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }


}

.cod_munic {
  display:none;
}