<div class="general-header row">
  <div class="general-header-search general-header-search-text col-xs-2">
    BUSCAR:
  </div>
  <div class="general-header-search col-xs-6">
    <angucomplete-alt id="ex1"
        placeholder="Buscar municípios"
        pause="100"
        selected-object="selectedCity"
        local-data="cities"
        search-fields="cidade"
        title-field="cidade"
        minlength="1"
        input-class="form-control form-control-small"/>

  </div>
  <div class="general-header-city col-xs-4">
   <p>{{city.cidade}} / {{city.uf}}</p>
  </div>

</div>

<div class="row">
  <div class="col-sm-8" id="map"></div>
  <div class="col-sm-4">
    <div class="lat-esq">
      <table class="table" id="tabledata">
        <tr>
          <th>IDH-M</th>
          <td>{{city["IDH"]}}</td>
        </tr>
        <tr>
          <th>Sistema de ensino</th>
          <td>{{city["SISTEMA"]}}</td>
        </tr>
        <tr>
          <th>Possui plano municipal?</th>
          <td>{{city["POSSUI_PLANO_MUNIC"]}}</td>
        </tr>
        <tr>
          <th>Sistema próprio?</th>
          <td>{{city["SIST_PROPRIO"]}}</td>
        </tr>

      </table>


    </div>
    <div class="btn-group-vertical" role="group" aria-label="..." style="width:100%;">
      <button type="button" class="btn btn-default" ng-class="showActive(0)" ng-click="selectMap(0)">Sistemas de ensino</button>
      <button type="button" class="btn btn-default" ng-class="showActive(1)" ng-click="selectMap(1)">IDH-M</button>
      <button type="button" class="btn btn-default" ng-class="showActive(2)" ng-click="selectMap(2)">Plano municipal</button>
      <button type="button" class="btn btn-default" ng-class="showActive(3)" ng-click="selectMap(3)">Sistema Próprio</button>
    </div>
  </div>
</div>
<script>

  //L.mapbox.map('map', 'acaoeducativa.mg3o1opk');
</script>
<style>
  #map {
    height:500px;
  }


</style>